services:
  server:
    build: .
    container_name: outfiter_server
    ports:
      - '8080:8080'
    env_file:
      - .env
    environment:
      - POSTGRES_HOST=db
    depends_on:
      - db

  db:
    image: postgres:18.1
    container_name: outfiter_db
    ports:
      - '${POSTGRES_PORT:-5432}:5432'
    env_file:
      - .env
    volumes:
      - pg_data:/var/lib/postgresql

volumes:
  pg_data: